<div class="">
  <h4><%=@user.username%></h4>
    <%= form_for [@user , @game] do |f| %>
      <button class="btn waves-effect #2979ff blue accent-3" type="submit" name="action">New Game</button>
    <% end %>
</div>

  <div class="">
    <p>
      Total Games: <%=@user.games_playeds %>
    </p>
    <p>
      Wins/losses: <%= @user.wins %> / <%= @user.losses %>
    </p>

  </div>
  <div class="">
    <table class="striped">
      <thead>
        <tr>
            <th data-field="winner">Winner</th>
            <th data-field="start">Start</th>
            <th data-field="end">end</th>
            <th data-field="duration">Time spent</th>
        </tr>
      </thead>
      <tbody>
        <%@user.games.each do |game| %>
            <tr>
                <td><%= game.won? ? @user.username : "Computer" %> </td>
                <td><%= game.created_at %>  </td>
                <td><%= game.end_time  %>  </td>
                <%if game.end_time%>
                  <td><%= (game.end_time - game.created_at) %>  </td>
                <% else %>
                <td> </td>
                <% end %>
            </tr>
        <%end%>
      </tbody>
    </table>
  </div>
