<!DOCTYPE html>
<html>
  <head>
    <title>TicTacToe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/">Home</a> | 
    <%if current_user %>
      <%= link_to current_user.username, user_path(current_user.id)%> |
      <%= link_to 'logout', session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to 'new User', new_user_path %> |
      <%= link_to 'Login', new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
